* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
span {
	cursor: pointer;
}
.hui {
	background-color: #f2f2f2;
}
.white {
	background-color: #ffffff;
}
.show {
	display: block;
}
.hidden {
	display: none;
}
.click {
	background-color: #FFF;
}

/*box的样式*/
.box {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 1280px;
	height: 600px;
	background-color: pink;
}
.head {
	width: 100%;
	height: 60px;
	background-color: #dddddd;
	border-radius: 5px,0;
}

/*中间的盒子*/
.main {
	width: 1280px;
	height: 500px;
	background-color: deeppink;
}
.main div {
	float: left;
}


/*左边的盒子*/
.left {
	padding-left: 10px;
	width: 220px;
	height: 540px;
	background-color: #f2f2f2;
}
.left p {
	line-height: 40px;
}
.list {
	width: 100%;
	height: 460px;
}
.list a {
	float: right;
	padding-right: 20px;
	display: none;
}
.list li:hover a {
	display: inline-block;
}
.list h4:hover a {
	display: inline-block;
}
.list>ul {
	width: 100%;
}
.list ul>li {
	margin-top: 15px;
	padding-left: 30px;
}
.addlistbtn {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #eeeeee;
	cursor: pointer;
}



/*盒子的遮罩*/
.mark {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 1280px;
	height: 600px;
	background-color: rgba(0,0,0,.3);
}
.addlist {
	margin: 0 auto;
	margin-top: 200px;
	width: 200px;
	text-align: center;
}
.addlist button {
	margin: 5px 25px 0;
}


/*这是main中间的盒子*/
.center {
	width: 230px;
	height: 540px;
	background-color: #ffffff;
}
.center-head {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #eeeeee;
}
.center-head span {
	margin: 0 5px;
	padding: 0 5px;
}
.center-main {
	width: 210px;
	height: 460px;
	padding-left: 20px;
}
.center-main a {
	float: right;
	padding-right: 20px;
	display: none;
}
.center-main li:hover a{
	display: block;
}
.center-main>ul {
	margin-top: 10px;
	width: 100%;
}
.center-main ul>li {
	padding-left: 15px;
	margin-top: 5px;
}
.center-footer {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #eeeeee;
	cursor: pointer;
}

/*右边的盒子*/
.right {
	position: relative;
	width: 820px;
	height: 540px;
}
.right input {
	border: 0;
	outline: none;
}
.right span {
	position: absolute;
	right: 0;
	top: 10px;
	padding: 0 20px;
	margin: 0 5px;
	border-radius: 5px;
	background-color: #f3f3f3;

}
.right span:nth-child(1){
	right: 100px;
}
.title {
	padding-left: 30px;
	display: block;
	width: 790px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	background-color: #f2f2f2;
}
.data {
	padding-left: 30px;
	display: block;
	width: 790px;
	height: 50px;
	line-height: 50px;
	background-color: #fafaee;
}
.edit {
	padding-top: 30px;
	padding-left: 30px;
	display: block;
	width: 790px;
	height: 410px;
	background-color: #ffffff;
	border: 0;
}
